<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wildrift</string>
		<string>clashofclans</string>
		<string>smoba</string>
		<string>sgame</string>
		<string>hok</string>
		<string>honorofkings</string>
		<string>identityv</string>
		<string>dwrg</string>
		<string>lolwr</string>
		<string>leagueoflegends</string>
		<string>riotgames</string>
		<string>valorant</string>
		<string>genshinimpact</string>
		<string>yuanshen</string>
		<string>mihoyo</string>
		<string>starrail</string>
		<string>zenlesszonezero</string>
		<string>pubgmobile</string>
		<string>codm</string>
		<string>callofduty</string>
		<string>roblox</string>
		<string>minecraft</string>
		<string>fortnite</string>
		<string>brawlstars</string>
		<string>clashroyale</string>
		<string>amongus</string>
		<string>candycrushsaga</string>
		<string>monopolygo</string>
		<string>stardewvalley</string>
		<string>terraria</string>
		<string>shortcuts</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_ourapp-sync._tcp</string>
	</array>
</dict>
</plist>
